body{

  font-size: 20px;
}

.container{
  padding:0;
  max-width: 80%;
}
header{
  display: flex;

}

.name {
  cursor: pointer;
}

h5{
  font-size: 16px;
padding: 20px;
color: #4285f4;
text-transform: uppercase;
}

.main-content-container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

h2{
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

.temple{

}

.sticky {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.oats {
  text-align: left;
}


.video {
max-width: 700px;
max-height: 468px;
display: flex;
justify-content: flex-end;
cursor: crosshair;
margin-left: 10px;

}

/*#festivus{
  width: 75%;
}*/

.video-container{
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  height:100vh;


}

.description{
  display: 
}

li {
  margin: 0;
}

ul{
  margin-bottom:0;
}
.hiddenEmail{
  display: none;
}

.active{
  display: block;
}

.notActive{
  display: none;
}




footer{
  margin: 20px;
}

.description-container {
  display: flex;

  flex-direction: column;
}


/*@media screen and (max-width: 992px) and (min-width: 200px){*/

  @media screen and (max-width: 992px){
    .container {
    width: 100%;
}
    .video-container{
      display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }

  li{
    font-size: 14px;
  }

  .video {
    width: 100%;
    margin-top: 24px;
  }

  h2{
    margin-top:50px;
    text-align: center;
  }
  .oats {
    text-align: left;
  }

  header{
    flex-direction: column;
  }
  .video-container {
  margin-top: 0;
  height: 70vh;
}
