header{
  display: flex;
  justify-content: space-between;
}

.main-content-container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

h2{
  font-size: 2rem;
}
.video {
width: 65%;
margin-top: 76px;
}

.video-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/*
.description{
  display: none
}

.active{
  display: block;
}

.notActive{
  display: none;
}*/


footer{
  margin: 20px;
}
